:root {
	/* ======= Page colors ======= */
	--r_principal: #A9163F;
	--a_primario: #202B52;
	--g_primario: #918f8f;
	--g_pleca: #918f8fd2;

	/* ====== Social media ======= */
	--facebook: #1b77f2;
	--twitter: #1da1f2;
	--linkedin: #0a66c2;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #C9CCD3;
	background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
	background-blend-mode: lighten;
	background-repeat: no-repeat;
}

/* loading */
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}

.loader{
	background: var(--r_principal);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	clip-path: circle(100.0% at 50% 0);
	transition: clip-path 0.8s ease-in-out;
}

.loader-end{
	clip-path: circle(0.3% at 0 0);
}

/*  */
.logo {
	width: 49px;
}

.navbar.fixed-top.navbar-expand-lg.navbar-dark.p-md-3 {
	font-size: 16px;
	background: var(--g_pleca);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	background-color: var(--g_pleca);

}

.p-md-3 {
	padding: 3px !important;
}

.nav-link.text-white:hover {
	color: var(--r_principal) !important;
}

.dropdown-item:hover {
	color: #fff;
	background-color: var(--a_primario);
}

.hero {
	height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
}

.hero-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.hero-video video {
	min-width: 100%;
	min-height: 100%;
}

.img-citere {
	width: 22%;
}

.hero-content {
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	right: 0;
	position: absolute;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-content h1 {
	font-size: 80px;
	font-weight: 600;
	z-index: 100;
	color: rgb(124, 119, 119);
	margin-bottom: 30px;
}

.hero-content p {
	font-size: 13px;
	font-weight: 700;
	color: rgb(129, 129, 129);
	text-align: center;
	z-index: 5;
	bottom: 0;
	position: fixed;
}

.hero-social-media {
	z-index: 180;
	position: fixed;
	left: 0;
	top: 200px;
}

.hero-social-media ul {
	list-style: none;
}

.hero-social-media ul li a {
	display: inline-block;
	color: #fff;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 30px;
}

.hero-social-media ul li a:hover {
	color: var(--r_principal);
}

/* .hero-social-media .icon-facebook:hover {background:blue;} */

.icons-social {
	width: 15px;
}

.siguenos {
	transform: rotate(-90deg);
	font-size: 14px !important;
	left: -26px;
	position: relative;
	top: 16px;
	font-weight: 601;
}

.hero-carousel {
	z-index: 3;
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 18px;
}

/* ----------------------- */
/*        Contact         */
.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.modal-content {
	background: #969ca498;
	border-radius: 20px;
	color: white;
	font-size: 20px;
}

.contact {
	display: inline-block;
	z-index: 200;
	padding: 12px;
	font-size: 23px;
	cursor: pointer;
	position: fixed;
	bottom: 0;
	right: 0;
	/* width: 120px; */
	width: 14%;
	margin: 0px 15px 5px 0px;
}

.btn-message {
	border: var(--r_principal) 2px solid;
	color: var(--r_principal);
}

.btn-message:hover {
	color: white;
	background: var(--r_principal);
}

.btn-check:focus+.btn,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(240, 240, 240, 0.25);
}

.modal-body a {
	text-decoration: none;
	color: var(--r_principal);
}

/* ========== Nosotros ============== */
.p-secction {
	/* height: 450px; */
	/* background-image: url('../img/p-4.jpg'); */
	background-image: url('../img/chica.png');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.text-secction {
	z-index: 5;
}

.text-secction-info {
	margin-top: 100px;
}

.text-secction-info h2 {
	color: var(--r_principal);
	font-size: 16px;
}

.text-secction-info p {
	font-size: 14px;
}

.text-secction-info .filosofia {
	margin-top: 80px;
}

.circulo{
	margin-bottom: 2%;
}

/* spinner valores */
.container.circulo img {
    width: 100px;
    left: 115px;
    position: relative;
}

.c1{
	/* margin: 0px 0px 0px 4px; */

	/* margin: 4px 6px 2px 4px; */
	margin: 3px 5px 4px 4px;
}

.c2 {
	/* margin: 0px 0px 11px -52px; */
	
	/* margin: 0px 0px 17px -23px; */
	/* margin: 9px 5px 22px -29px; */
	margin: 0px 6px 16px -29px;
}

.c3 {
	/* margin: -75px -0px 0px 198px; */

	/* margin: 144px 0px 0px -105px; */
	/* margin: 141px 0px 0px -108px; */
	margin: 137px 4px 0px -113px;
}

.c4 {
	/* margin: -277px 0px 0px -16px; */
	
	/* margin: 164px 0px 0px -186px; */
	/* margin: 172px 0px 13px -186px; */
	margin: 170px 0px 15px -189px;
}

.circulo h3 {
    margin-top: 154px;
    color: var(--r_principal);
    position: absolute;
    margin-left: 159px;
}

#f1 {
    margin-top: 146px;
    transform: rotate(270deg);
    margin-left: -275px;
    width: 171px;
}

/* =============== Services ================= */
.services img {
	width: 50vh;
	height: 50vh;
	border-radius: 12px;
}

.services img:hover {
	box-shadow: -5px 5px 12px -2px rgba(0, 0, 0, 0.48);
	-webkit-box-shadow: -5px 5px 12px -2px rgba(0, 0, 0, 0.48);
	-moz-box-shadow: -5px 5px 12px -2px rgba(0, 0, 0, 0.48);
}

.line-services {
	margin: 8% 1% 1% 1%;
}

.img-services-l {
	float: left;
	margin: 1% 3% 0% 0%;
}

.right-services {
	margin-top: 39vh;
}

.img-services-r {
	float: right;
	margin: 3% 0% 0% 3%;
}

.services p {
	display: none;
}

/* .identificador {
	display: none;
    top: -50%;
    position: relative;
    left: 92px;
} */

/* ============= Materialidad ================= */

#negocio {
	background: var(--r_principal);
	width: 21px;
	height: 21px;
	border: 0px solid;
	border-radius: 51%;
	position: absolute;
	top: 209px;
	left: 180px;
}

.n {
	position: absolute;
	top: 234px;
	left: 151px;
	font-size: 13px;
	font-weight: 400;
}

.materialidad {
	margin: 10% 2%;
}

.materialidad img {
	width: 80%;
	margin: 29px 0px 21px 69px;
}

.materialidad-content {
	margin-top: 6%;
	padding: 2%;
	border-radius: 12px;
	box-shadow: 6px 7px 14px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 6px 7px 14px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 6px 7px 14px 5px rgba(0, 0, 0, 0.25);
}

#legend {
	margin-left: 4px;
	color: var(--r_principal);
}

.accordion-button.collapsed {
	color: #333d60;
	background: none !important;
	border-radius: 57px;
	margin-left: 20px;
}

.accordion-button:not(.collapsed) {
	color: #333d60;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
	background: none;
	margin-left: 16px;
}

.accordion-button::after {
	background-image: url("../icons/m1.svg");
	position: absolute;
	left: -6px;
}

.accordion-button:not(.collapsed)::after {
	background-image: url("../icons/m2.svg");
	transform: rotate(360deg);
	left: -4px;
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion {
	border: none;
	font-size: 14px;
	text-align: justify;
	color: var(--g_primario);
}

.accordion-item {
	background: none;
}

.accordion-flush .accordion-collapse {
	background: white;
}

.content-info {
	margin: 14% 0px 0px 20%;
}

.num-info {
	color: var(--r_principal);
	font-size: 60px;
}

.content-info p {
	font-size: 15px;
	color: var(--g_primario);
}

/* =============== Faq's =================== */
.faqs {
	/* margin:6% 0px 3% 0px; */
	margin: -11% 0px 3% 0px;
	position: fixed;
	z-index: 200;
	right: 0;
	width: 100%;
	/* background: orange; */
}

.icons-faqs {
	width: 6%;
	margin: 12px 7%;
}

.icons-faqs:hover {
	/* padding: 1px; */
	/* transition: ease-out 2s; */
}

.faqs-content {
	/* margin: 12% 0px 2% 0px; */
	margin: 20% 0px 2% 0px;
}

.faqs-content textarea {
	height: 346px !important;
	border-radius: 12px;
	text-align: justify;
}

/* ========== Publicaciones =============== */

/* collage */
.img_public {
	width: 100%;
}

.flex {
	display: flex;
	padding: 5px;
	flex-wrap: wrap;
}

.column {
	flex: 25%;
	padding: 5px;
}

.column img {
	margin-top: 5px;
}

/* end collage */


.publicaciones {
	margin-top: 8%;
}

.publicaciones ul,
li {
	padding: 0;
	/* margin: 0; */
	list-style: none;
}

.publicaciones ul.slider {
	position: relative;
	/* width: 80%; */
	width: 100%;
	/* height: 300px; */
	/* height: 450px; */
}

.publicaciones ul.slider li {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: inherit;
	height: inherit;
	transition: opacity .5s;
	background: #fff;
}

.publicaciones ul.slider li img {
	width: 100%;
	height: 69vh;
	/* height: 300px; */
	object-fit: cover;
}

.publicaciones ul.slider li:first-child {
	opacity: 1;
}

.publicaciones ul.slider li:target {
	opacity: 1;
}



.publicaciones .menu {
	margin: 20px;
	display: flex;
	top: 100px;
	position: absolute;
	left: 53%;
}

.publicaciones .menu li {
	display: inline-block;
	text-align: center;
}

.publicaciones .menu li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: grey;
	/* padding: 10px; */
	width: 20px;
	height: 20px;
	font-size: 20px;
	border-radius: 100%;
}

/*  */
/* .slider-sm img {
    width: 100%;
} */
.content-slider-sm {
	margin: 3% 0px 30% 0px;
}

.content-slider-sm ul.slider-sm li {
	position: absolute;
	/* left: 0;
	/* top: 0; */
	opacity: 0;
	width: inherit;
	height: inherit;
	transition: opacity .5s;
	background: #fff;
}

.content-slider-sm ul.slider-sm li img {
	width: 100%;
	height: 21vh;
	/* height:100px; */
	object-fit: cover;
}

.content-slider-sm ul.slider-sm li:first-child {
	opacity: 1;
}

.content-slider-sm ul.slider-sm li:target {
	opacity: 1;
}

.econonia {
	margin: 20px;
	display: flex;
	top: 100px;
	position: absolute;
	left: 70%;
}

.negocios {
	top: 104px;
	left: 70%;
}

.interes {
	left: 70%;
	top: 391px;
}

/* ============ Responsive ============== */
